.container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0ms linear;
}

.containerShow {
  opacity: 1;
}

.bar {
  background-color: var(--ij-color-primary);
  height: 2px;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: margin-left 0ms linear;
  width: 100%;
  z-index: 1031;
}
