.container {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.image {
  display: block;
  filter: blur(15px);
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
