:root {
  --ifm-color-primary: #f57f17;
  --ifm-color-primary-dark: #e7720a;
  --ifm-color-primary-darker: #da6b09;
  --ifm-color-primary-darkest: #b45808;
  --ifm-color-primary-light: #f68d31;
  --ifm-color-primary-lighter: #f7943e;
  --ifm-color-primary-lightest: #f8aa64;
}
