:root {
  --ifm-color-primary: #f57f17;
  --ifm-color-primary-dark: #ff6f00;
  --ifm-color-primary-darker: #e65100;
  --ifm-color-primary-darkest: #bf360c;
  --ifm-color-primary-light: #f9683a;
  --ifm-color-primary-lighter: #ff833a;
  --ifm-color-primary-lightest: #ffb04c;
}
