:host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.brand {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 700;
  text-decoration: none;
}

.brand img {
  display: block;
}

.brand span {
  display: block;
  margin-left: 12px;
}
