.home
  .products
    align-items stretch
    border-top 1px solid $borderColor
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-top 2.5rem
    padding 2.5rem 0 5rem

  .product
    border 1px solid $borderColor
    border-radius 6px
    color inherit
    display block
    flex-basis 32%
    flex-grow 1
    max-width 32%
    overflow: hidden
    text-decoration none
    transition background-color ease-in 0.2s

    &:hover
      background-color #fafafa

  .product__main-visual
    display block
    height auto
    max-width 100%

  .product__body
    border-top 1px solid $borderColor
    padding: 0.5rem

  .product__name
    border 0
    font-size 1rem
    font-weight 700
    margin 0 0 0.5rem 0
    padding 0

  .product__description
    font-size 0.8rem
    font-weight 400
    line-height 1.5
    margin 0
    padding 0

@media (max-width: $MQMobile)
  .home
    .products
      flex-direction column

    .product
      max-width 100%

    .product + .product
      margin-top 1.5rem

.content:not(.custom)
  .product:hover
    text-decoration inherit
