.copyright {
  margin: 0;
}

.navigation li:not(:first-child) {
  margin-left: 0.5em;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.root {
  align-items: flex-start;
  color: #eee;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  justify-content: space-between;
  padding: 2rem 1rem 1.5rem;
}

@media (min-width: 960px) {
  .root {
    flex-direction: row;
    padding-bottom: 0.5rem;
  }
}
