@import "./variables";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.main-content,
.mdc-drawer-app-content,
.mdc-top-app-bar--fixed-adjust {
  box-sizing: border-box;
  height: 100%;
}

.mdc-top-app-bar__title {
  align-items: center;
  color: #fff;
  display: flex;

  @media (max-width: 599px) {
    display: none;
  }

  > :not(:first-child) {
    margin-left: 5px;
  }
}
