[data-reach-skip-nav-link].skipNavLink:focus {
  background-color: var(--ij-color-primary);
}

.wrapper {
  padding-left: env(safe-area-inset-left, 0);
  padding-right: env(safe-area-inset-right, 0);
  padding-top: env(safe-area-inset-top, 0);
  position: relative;
}

@media (min-width: 960px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
  }
}

.footer {
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  font-size: 0.85rem;
  justify-content: space-between;
  padding: 1rem 1rem 1rem;
  padding: 1rem 1rem calc(1rem + env(safe-area-inset-bottom, 0));
}

@media (min-width: 960px) {
  .footer {
    display: flex;
  }
}

.navLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 960px) {
  .navLinks {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .navLinksItem:not(:first-child) {
    margin-left: 1em;
  }
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.navLink:hover {
  color: inherit;
  text-decoration: underline;
}
