.wrapper {
  padding: 0 0.5rem;
}

.content {
  background-color: rgba(38, 50, 56, 0.7);
  border-radius: 1rem;
  margin: 1rem auto 2rem;
  min-height: 70vh;
  max-width: 100%;
  padding: 1rem 1rem 2rem;
  width: 800px;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 1rem;
  padding: 1.5;
}
