*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #544643;
  color: #fff;
  font-family: sans-serif;
  line-height: 1;
}

body {
  margin: 0;
}

a {
  color: #e85465;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
