:host {
  display: block;
  margin: 0;
  position: relative;
}

.camera__canvas {
  height: auto;
  width: 100%;
}

.camera__loading {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  min-height: 50vh;
  position: absolute;
  right: 0;
  top: 0;
}

.camera__loading--active {
  display: flex;
}

.camera__failed {
  margin: 1rem auto 2rem;
  max-width: 960px;
  padding: 0 1rem;
}
