<ng-container *ngIf="!failed; then thenBlock; else elseBlock">
</ng-container>

<ng-template #thenBlock>
  <canvas
    #canvas
    class="camera__canvas"
    (click)="onClick()"
    [height]="canvasHeight"
    [width]="canvasWidth">
  </canvas>
  <div class="camera__loading" [class.camera__loading--active]="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #elseBlock>
  <section class="camera__failed mat-typography">
    <h1>カメラの取得に失敗しました</h1>

    <p>あなたの使っているウェブブラウザーはカメラの取得に対応していません。PC の場合、Google Chrome と Firefox 最新版以外での動作は保証できません。Android の場合は Play Store からダウンロードできる Chrome を使ってください。</p>
    <p>また iOS では Safari 以外でカメラの取得ができません。iPhone や iPad を使っている場合は Safari で開き直してください。</p>
  </section>
</ng-template>
