
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", "Noto Sans JP", sans-serif'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$neru-camera-primary: mat-palette($mat-orange);
$neru-camera-accent: mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$neru-camera-warn: mat-palette($mat-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$neru-camera-theme: mat-light-theme($neru-camera-primary, $neru-camera-accent, $neru-camera-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($neru-camera-theme);
