.content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.shareLinks {
  margin-top: 3rem;
}

.shareLinksList {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shareButton {
  background-color: #1da1f2;
  border-radius: 1.2em;
  color: #fff;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  line-height: 1;
  padding: 0.6em 1.5em;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.shareButton:hover {
  background-color: #005fd1;
}
