.root {
  background-color: var(--inb-textfield-background-color);
  border: var(--inb-textfield-border-width) solid
    var(--inb-textfield-border-color);
  border-radius: var(--inb-textfield-border-radius);
  color: var(--inb-textfield-color);
  font-size: var(--inb-textfield-font-size);
  font-family: var(--ifm-font-family-monospace);
  line-height: var(--inb-textfield-line-height);
  padding: var(--inb-textfield-padding);
}

.root:disabled {
  --inb-textfield-background-color: var(--ifm-color-gray-100);
  --inb-textfield-border-color: var(--ifm-color-gray-300);
  --inb-textfield-color: var(--ifm-color-gray-500);

  pointer-events: none;
}

.root:focus {
  --inb-textfield-border-color: var(--ifm-color-primary-darker);

  outline: 0;
}

.root::placeholder {
  color: var(--inb-textfield-placeholder-color);
}

.root[aria-invalid]:not([aria-invalid='false']) {
  background-color: var(--inb-textfield-invalid-background-color);
  border-color: var(--inb-textfield-invalid-border-color);
}

.root[aria-invalid]:not([aria-invalid='false']):focus {
  --inb-textfield-invalid-background-color: var(
    --inb-textfield-background-color
  );
  --inb-textfield-invalid-border-color: var(--inb-textfield-border-color);
}

.block {
  display: block;
  width: 100%;
}

.multiline {
  height: calc(
    (var(--inb-textfield-border-width) * 2) + (var(--inb-textfield-padding) * 2) +
      (1rem * var(--inb-textfield-line-height) * 10)
  );
  resize: none;
}
