@keyframes shake {
  0% {
    transform: translateY(0) rotate(180deg);
  }

  50% {
    transform: translateY(20px) rotate(170deg);
  }

  0% {
    transform: translateY(0) rotate(180deg);
  }
}

.image {
  animation: shake 0.5s infinite;
  display: block;
  margin: 0 auto;
  transform: translateY(0) rotate(180deg);
}
