:root {
  --ij-color-primary: #f57f17;

  --ij-font-family-base: -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, YuGothic, Yu Gothic, sans-serif;
  --ij-font-family-serif: Garamond, Times New Roman, YuMincho, Yu Mincho, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
}

html {
  background-color: #757575;
  box-sizing: border-box;
  color: #fff;
  font-family: var(--ij-font-family-base, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
